

:root {
    --main-dark-red: rgb(91, 11, 11); /* You can use any name and value you want */
  }

.outer-menu-container{
  

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    height: 7vh;
    
  
}


.menu-container{
    width: 50%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.868);
    display: flex;
    flex-direction:row;
    flex-wrap: none;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
 
    

}

.menu-content-container{
    flex-grow: 1;
    /* Optional: to ensure they're all the same size, even with different content */
    flex-basis: 0;
    height: 100%;
   

    font-size: calc(.3em + .1vw);
    text-align: center;
   
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid black;
    cursor: pointer;

   

}


.menu-content-container.selected{
    background-color: black;
    color: white
}

.menu-content-container.selected:hover{
    background-color: black;
    color: white
}


.menu-content-container h1{
  
    
    margin: 0;;
}

/* #menu-one:hover{
    background-color: rgb(119, 23, 23);
    color: white;
}
#menu-two:hover{
    background-color: rgb(119, 23, 23);
    color: white;
}
#menu-three:hover{
    background-color: rgb(119, 23, 23);
    color: white;
}
#menu-four:hover{
    background-color: rgb(119, 23, 23);
    color: white;
} */


.menu-content-container:hover{
    background-color: rgb(119, 23, 23);
    color: white;

}

.menu-button-container{
    display:none;
}

.menu-button{
    display: inline-block;
    padding: 0.5em 1em; /* Adjust padding as needed */
    margin: 0.25em;
    font-size: calc(.3em + 1.5vw);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.menu-button:hover{
    background-color: rgba(11, 11, 11, 0.777);
    color:white;
    transform: scale(1.1);
}





/*drop down panel*/


.panel 
{
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);

    overflow: hidden;
    transition: height 0.6s;
    display: flex;
    z-index: -1;

}
  
.panel.open {
    height: 100vh; /* Make the panel cover the entire viewport height */
    z-index: 1;
}

.drop-down-button {

    background-color: red;
    color: white;
    border: none;
    cursor: pointer;

    font-size: calc(min(5px + 2vw, 20px)); /* 24px is the maximum font size */
    height: auto;
  
    border-radius: 50%;

}


.panel-content-header{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}


.panel-content {

    width: 100%;
    height: 25%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.panel-content-container{

    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    width: 100%;

}


.panel-options{

    text-decoration:none;
    background-color: rgb(91, 11, 11);
    padding: 1em;
    color: white;
    font-size: calc(min(5px + 2vw, 20px)); /* 24px is the maximum font size */
    border-radius: 20px;

    
}

.panel-options.selected{
    background-color: black;
    color:white;
}

.panel-options.selected:hover{
    background-color: black;
    color:white;
}



.panel-options:hover{

    background-color:silver;
    color: var(--main-dark-red)

}



.drop-down-button:hover{

    background-color:silver;
    color: var(--main-dark-red);

}

.panel-exit{

    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.panel-content-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: rgb(91, 11, 11);
}

.panel-content-header h1{
    text-decoration:underline;
    font-size: 2em;
}


@media (max-width: 800px) {

    .menu-container{
        display: none;
    }

    .menu-button-container{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}







