:root {
    --main-dark-red: rgb(91, 11, 11); /* You can use any name and value you want */
    --secondary-color: #f5f5dc;
  }
.easy-container{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 3em;


}


.clock-object {

    background: linear-gradient(rgb(255, 255, 255),rgb(133, 77, 77));
    font-size: calc(1em + 1vw);
    padding: .25em .5em .25em .5em;
    border-radius: 5%;
 
}


.textbox-area{
    width: 30vw;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 20px;


    margin-bottom: 4%;
    text-align: center;
    font-size: calc(.4em + 1vw);
}
.easy-display-container{
    width:auto;
    height:auto;
    margin: 1%;
    
}


.sample-text {
    width: fit-content;
    height: 35vh; /* Set a maximum height */
    font-size: calc(.3em + 1vw);
    background: linear-gradient(rgb(255, 255, 255),rgb(133, 77, 77));
    color: black;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Optional: Adds some space inside the box */
    box-sizing: border-box; /* Optional: Includes padding in the width and height */
    text-align:center;
    border: 5px solid black;
    border-radius: 40px;
    max-height: 400px;

    /* Hide scrollbar for Webkit browsers */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

/* For Internet Explorer and Edge */
.sample-text::-ms-scrollbar {
    display: none;
}



/*classes for highlighting words during the typing test*/

.touching{
    text-decoration: underline red;
    color: black;
    background-color: rgba(181, 181, 181, 0.941);
}

.touching-incorrect{
    background-color: red;
    color:white;
    text-decoration: white;
}

.correct{
    color: green;
}

.incorrect{
    color:red;
}



/*results pop up*/

.resultsPopup 
{
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);

    overflow: hidden;
    transition: height 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

}
  
.resultsPopup.open {
    height: 100vh; /* Make the panel cover the entire viewport height */
    z-index: 1000;
}


.results-content {

    width: 25vw;



    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0,0,0,0.2)),url('../../public/results-background2.png');
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    border: white solid 5px;
    border-radius: 5%;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
    
}

.results-content-header{
    width: 100%;
    text-align: center;
    font-size: calc(.3em + 1vw)

}

.results-text{
    width: 50%;
    text-align: center;
    font-size: calc(.2em + 1vw);
 

}

.results-text button {
    
    font-size: calc(.2em + .7vw);
    padding: 2%;
    font-weight:bold
} 

.results-text button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.loading-icon-practice{
    height: 60vh;
    width: 30vw;
}

.new-passage-button{
    font-size: calc(1.5em + 1vw);
    padding: .5%;
    height: fit-content;
    margin-left: 3%;
     background: linear-gradient(rgb(255, 255, 255),rgb(133, 77, 77));
    border-radius: 5%;


}

.new-passage-button:hover{
    cursor: pointer;
    transform: scale(1.1);
   
}

.clock-newpassage-container{
    

    display:flex;
    flex-direction: row;
    width: 30%;
    justify-content: center;
    align-items: center;
}